.section-title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-decoration-skip-ink: none;
  box-shadow: 2px 2px 3px 0px #00000099;
}

.section-box {
  position: relative;
  border: none;
  width: 95vw;
  padding: 1.5rem 0.5rem 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.section-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: calc(var(--radius) - 2px);
  padding: 1px;
  background: linear-gradient(
    90deg,
    #a47a1e 3%,
    #d3a84c 19%,
    #ffec94 38%,
    #e6be69 58%,
    #ffd87c 80%,
    #b58f3e 91%,
    #956d13 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.section-carousel {
  position: relative;
  border: none;
  width: 100vw;
  padding: 1rem 0rem 3rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  /* gap: 16px; */
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 0 1rem;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  /* min-width: 80vw; */
  /* scroll-snap-align: start; */
  flex-shrink: 0;
}

.carousel > * {
  /* scroll-snap-align: start; */
  flex-shrink: 0;
}

.section-carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  padding: 1px 0;
  background: linear-gradient(
    90deg,
    #a47a1e 3%,
    #d3a84c 19%,
    #ffec94 38%,
    #e6be69 58%,
    #ffd87c 80%,
    #b58f3e 91%,
    #956d13 100%
  );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
